@model UI.Models.ProductListViewModel

@{
    ViewBag.Title = "List";
}

<h2>Product List</h2>
<h2></h2>

@foreach (var p in Model.Products)
{
    <div class="well">
        <h3>
            <strong>@p.Name</strong>
            <span class="pull-right label label-primary">@p.Price.ToString("c")</span>
        </h3>
        <span class="lead">@p.Description</span>
        <hr />
    </div>
}


<div class="btn btn-group pull-right">
    @HtmlHelper(Model.PagingInfo, x => Url.Action("List", new
{
    Page =
    x
}))
</div>